/* -------Universal styles---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}
body{
    background-color: black;
}

/* -----------------Shared Styles-------------------- */
.english-btn {
    border: 1px solid #F5F5F5;
    border-radius: 0.3rem;
    background: rgba(47, 41, 41, 0.09);
    height: 2rem;
    width: 9rem;
    padding: 0 1rem;
    color: #FFF;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1.35px;
    cursor: pointer;
    margin-right: 1rem;
    mix-blend-mode: hard-light;
}

#e-address {
    border-radius: 0.3rem;
    border: 0.5px solid #FFF;
    background: #2F2929;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.9px;
    width: 20rem;
    height: 3rem;
    mix-blend-mode: hard-light;
    padding: 1.5rem 3.2rem;
}
.input-info input::placeholder{
    color: white;
}
#e-address:focus {
    outline: 1.5px solid #FFF;
}

.start-btn {
    height: 2.9rem;
    width: 11rem;
    border: none;
    border-radius: 0.3rem;
    background: #C80A0A;
    cursor: pointer;
    letter-spacing: 1.26px;
    padding: 0 0.9rem;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.2s ease;
}

.start-btn:hover {
    background: darkred;
}

/* -----------Header section styles----------- */

.banner-design {
    background: linear-gradient(180deg, #262424 0%, rgba(27, 25, 25, 0.99) 0%, rgba(18, 16, 16, 0.00) 100%, rgba(18, 16, 16, 0.78) 100%), url('../assets/images/bg.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90vw;
    margin: auto;
    padding-top: 5rem;
}

.logo-img {
    height: 2.5em;
    width: 7rem;
}



.sign-btn {
    height: 1.8rem;
    width: 7rem;
    border: none;
    border-radius: 0.3rem;
    background: #C80A0A;
    cursor: pointer;
    letter-spacing: 1.26px;
    padding: 0 0.9rem;
    color: #FFF;
    font-size: 0.8rem;
    font-weight: 700;
    transition: 0.2s ease;
}

.sign-btn:hover {
    background: darkred;
}

.header-description {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h2 {
        color: #FFF;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 3.33px;
    }

    .para-des {
        color: #FFF;
        font-size: 1.25rem;
        font-weight: 500;
    }

    p {
        color: #FFF;
        font-size: 1rem;
        font-weight: 400;

    }
}

.input-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* -------------Enjoy section start------------ */
main{
    margin: 0 5rem;
}
.enjoy-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.des-1{
    color: white;
    h2{
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: 2rem;
    }
    p{
        font-size: 1.5rem;
        font-weight: 500;
    }
}
.img-video{
    position: relative;
    img{
        height: 25rem;
        width: 28rem;
    }
    video{
        height:29rem;
        width: 20.4rem;
        position: absolute;
        top: -2.5rem;
        right: 3.9rem;
        z-index: 10;
    }
}
.enjoy-2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin: 2rem 0 4rem 0;
}
.enjoy-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    flex-direction: row-reverse;
}
/* ---------------Footer styles ---------- */

footer{
    margin: 7rem 9rem;
    p{
        color: white;
        font-size: 1rem;
        word-spacing: 1rem;
    }
}
.footer-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    margin-top: 5rem;
    a{
        color: white;
        font-size: 1rem;
        text-decoration: none;
    }
}
.sub-sec{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}